body {
    font-family: sans-serif;
  }
  
  #turnplayer {
    font-size: 2rem;
    margin: 1rem;
  }

  .gameContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  #gameBoard {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  
  #gameBoard div {
    border-radius: 20px;
    width: 16rem;
    height: 16rem;
    background-color: #ddd;
    display: grid;
    place-content: center;
    font-size: 5rem;
  }
  
  #gameBoard div.win {
    background-color: #25a340;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }

  .buttonContainer{
    display: flex;
  }

  button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1.2rem;
  }

  label{
    font-size: 1.5rem;
  }

  input[type="text"] {
    text-align: center;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1rem;
  }

  button:hover {
    transition: 1s;
    background-color: #25a340;
    color: #fff;
  }

  @media screen and (max-width : 768px) {

    .inputContainer{
      display: grid;
      justify-items: center;
    }

    .buttonContainer{
      display: grid;
      justify-items: center;
    }

    #gameBoard {
      gap: 0.5rem;
    }

    #gameBoard div {
        width : 6rem; 
        height : 6rem; 
        font-size : 3rem; 
    }
    
    button, input[type="text"] {
        width : 250px; 
        height : 40px; 
        font-size : 1rem; 
    }
    
    label{
        font-size : 1.2rem; 
    }
    
    #turnplayer {
        font-size : 1.5rem; 
    }
 }